:root{
    --border-radius: 2em;
    --backGroundColor: #4a5a6394;
    --border-color: black;
    font-family: "Kanit",sans-serif;
}


body{
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: var(--backGroundColor);
    justify-content: center;
}
.CardContainer{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 15em;
    width: 48%;
    border-radius: 1em;
    border-style: solid;
    margin: .2em;
}
.card{
    border-radius: var(--border-radius);
    border-width: .2em;
    border-color: var(--border-color);
    border-style: solid;
    min-width: 15em;
    max-width: 25em;
    flex: 1;
    margin: .5em;

    display: flex;
    flex-direction: column;
}
.card-text{
    flex: 1;
    padding: 1em;
    padding-top: .2em;
}
h3{
    text-align: center;
    margin: .5em;
}
h1{
    text-align: center;
}
p{
    margin: .2em;
}